akregatorrc
arkrc
autostart/
baloofilerc
bluedevilglobalrc
cef_user_data/
Code - OSS/
coc/
dconf/
discord/
discoverrc
dolphinrc
drkonqirc
emaildefaults
fontconfig/
google-chrome/
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
htop/
kactivitymanagerdrc
kactivitymanagerd-statsrc
kate/
katemetainfos
katerc
kateschemarc
katevirc
kcmfonts
kcminputrc
kconf_updaterc
KDE/
kded5rc
kdedefaults/
kdeglobals
kde.org/
kfontinstuirc
kfontviewrc
kglobalshortcutsrc
khotkeysrc
kmixrc
konsolerc
konsolesshconfig
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinoutputconfig.json
kwinrc
kwinrulesrc
kwritemetainfos
kwriterc
kxkbrc
libaccounts-glib/
mimeapps.list
                   -`                    peteris@archlinux
pavucontrol.ini
plasma.emojierrc
plasma-localerc
plasmanotifyrc
plasma-org.kde.plasma.desktop-appletsrc
plasmaparc
plasmashellrc
plasma-welcomerc
plasma-workspace/
powerdevilrc
powermanagementprofilesrc
pulse/
QtProject/
QtProject.conf
session/
simple-update-notifier/
spectaclerc
systemd/
systemmonitorrc
systemsettingsrc
trashrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
Vencord/
xsettingsd/
yay/
libreoffice/
