/*  #90CBE7
 *  #D387D2
 *  #A97AE6
 *  #CF7DBA
 *  #A962DC
 * */

* {
  font-size: 16px;
  font-family: "Roboto Mono";
  border: none;
  min-height: 10px;
}

window#waybar {
  background:  #f4feff;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  margin-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  color: transparent;
  background: transparent;
}

#memory,
#clock,
#cpu,
#battery,
#disk,
#temperature,
#tray {
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 4px;
  border-radius: 8px;
  color: #151515;
  background-color:  #e9f1f1;
}

#clock {
  color:  #D387D2;
}

#battery {
}

#memory {
}

#cpu {
}

#pulseaudio {
}

#workspaces {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: #e9f1f1;
  border-radius: 8px;
}

#tray {
  color: black;
  margin-right: 4px;
}

#workspaces button {
  border-radius: 20px;
  padding: 1px 5px;
  background-color: transparent;
}
#workspaces button:hover {
  box-shadow: inherit;
	background-color: #D387D2;
  color: #D387D2;
}

#workspaces button.active {
  color: #fff;
	background-color: #D387D2;
}



