* {
  border-radius: 8px;
  border: none;
}

window {
  font-size: 18px;
  font-family: "Noto Sans Rgular";
  background-color: rgba(255,255 , 255, 0.9);
  color: #000;
}

#entry:selected {
  background-color: #D387D2;
}

#img {
  margin-right: 10px;
}

#entry {
  padding: 0.25em;
}

#text:selected {
  /* karsa pasam tekstam kad ir selektets */
}

#input {
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  padding: 0.25em;
}
